@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'BahijTheSansArabic';
  src: url('../public/fonts/Bahij_TheSansArabic-Bold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'BahijTheSansArabic';
  src: url('../public/fonts/Bahij_TheSansArabic-Plain.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'BahijTheSansArabic';
  src: url('../public/fonts/Bahij_TheSansArabic-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

* {
  font-family: 'BahijTheSansArabic';
}

.section-container {
  max-width: 1680px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}


.text-sm {
  font-size: 16px;
  line-height: 24px;
}

.text-md {
  font-size: 18px;
  line-height: 24px;
}

.text-btn-sm {
  font-size: 14px;
  line-height: 24px;
}

.label11 {
  font-size: 12px;
  line-height: normal;
}

.label12 {
  font-size: 10px;
  line-height: normal;
}

.bg-triangle-pattern {
  background-image: linear-gradient(90deg,hsla(0,0%,100%,.9),#fff 25%), url('/card-pattern.svg'); 
}

.shadow-component {
  --tw-shadow: 0px 4px 10px 0px #7e7e7e0d !important;
  --tw-shadow-colored: 0px 4px 10px 0px var(--tw-shadow-color) !important;
}