@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@font-face {
  font-family: 'BahijTheSansArabic';
  src: url('../../public/fonts/Bahij_TheSansArabic-Bold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'BahijTheSansArabic';
  src: url('../../public/fonts/Bahij_TheSansArabic-Plain.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'BahijTheSansArabic';
  src: url('../../public/fonts/Bahij_TheSansArabic-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

* {
  font-family: 'BahijTheSansArabic';
}

.section-container {
  max-width: 1680px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}


.text-sm {
  font-size: 16px;
  line-height: 24px;
}

.label12 {
  font-size: 10px;
  line-height: normal;
}